
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');
/*body table.dataTable {*/
/*    border-spacing: 0;*/
/*    width: 100% !important;*/
/*}*/
body,.table,.page-item.disabled .page-link {
    color: #161617;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,form label ,.main-menu.menu-light .navigation li a,form .form-section{
    color: #1b1b1d;
}

.filters-div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 20px 15px 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background: #f4f5fa;
}

div.form-group label {
    font-weight: 700;
}

table.dataTable tbody td {
    vertical-align: middle;
}

.table td
{
    vertical-align: middle;
}

thead{
    background-attachment: fixed;
}
.main-menu.menu-light .navigation li > a, .main-menu.menu-light .navigation li > a span{
    display: -webkit-box;
}
.main-menu.menu-light .navigation li > a span{
    width: 208px;
}
.navigation li a {
    display: block;
    white-space: initial;
    text-overflow: initial;
    overflow: initial;
}

li.nav-item small{
    color: grey;
    display: inline-block;
}

.main-menu.menu-light .navigation > li{
    line-height: 1.75rem;
}

/*.main-menu.menu-light .navigation > li ul li > a {*/
/*    padding: 10px 32px 10px 80px;*/
/*}*/
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.has-sub>a:not(.mm-next):after {
    top: 12px;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>ul.menu-content li.has-sub .has-sub>a:not(.mm-next):after, body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.has-sub .has-sub>a:not(.mm-next):after {
    top: 10px;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu{
    width: 320px;
}
body.vertical-layout.vertical-menu.menu-expanded .content, body.vertical-layout.vertical-menu.menu-expanded .footer, body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-container {
    margin-left: 320px;
}



.modal{
    z-index: 1051;
}
.page-item.active .page-link{
    background-color: #2E88DC !important;
    border-color: #2E88DC !important;
}
.pagination .page-link {
    color: #368BC1;
}

.content-vcenter{
    justify-content: center;
    min-height: 100vh !important;
    flex-direction: column;
    display: flex;
}

.invalid-select{
    border: 1px solid red !important;
}

.text-center.mb-1 >img{
    max-width: 130px;
}

.bg-image1 {
    background: url(../../assets/images/backgrounds/bg-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.bg-image2 {
    background: url(../../assets/images/backgrounds/bg-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.picker__frame::-webkit-scrollbar-track {background-color: #e9edf0;border-left: 1px solid #ededed;}
.picker__frame::-webkit-scrollbar {width: 7px;background-color: #fa626b ;}
.picker__frame::-webkit-scrollbar-thumb {background: #fa626b ;}

.picker {
    top: 40px;
    width: 92%;
}
.picker__holder {
    display: none;
}
.picker--opened .picker__holder{
    display: block;
    max-height: 330px;
    overflow: hidden;
    border: 1px solid #cacfe7;
}

.picker__frame, .picker__holder {
    bottom: 0;
    position: relative;
    /* left: 0; */
    /* right: 0; */
    /* -webkit-transform: translateY(100%); */
    -ms-transform: translateY(100%);
    /* transform: translateY(100%); */
}
/*.picker__holder {*/
/*    width: 100%;*/
/*    overflow-y: auto;*/
/*    -webkit-overflow-scrolling: touch;*/
/*    !*position: initial;*!*/
/*    transition: background .15s ease-out,-webkit-transform 0s .15s;*/
/*    transition: background .15s ease-out,transform 0s .15s;*/
/*    -webkit-backface-visibility: hidden;*/
/*}*/
.picker__box{
    border: none;
}
.picker--time .picker__frame {
    /* min-width: 256px; */
    max-width: 100%;
    max-height: 330px;
    overflow: auto;
}
.picker__wrap {
    display: table;
    width: 100%;
    height: auto;
}
.card {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(62, 57, 107, 0.35);
    box-shadow: 0px 1px 15px 1px rgba(62, 57, 107, 0.35);
}

.btn-primary{
    background:#294a9c ;
}
.btn-primary:hover{
    background:#2552c1 ;
}
.btn-outline-primary {
    border-color: #294a9c;
    background-color: transparent;
    color: #294a9c;
}
.btn-outline-primary:hover{
    border-color: #294a9c;
    background-color: #294a9c;
    color: #FFFFFF;
}
.btn-outline-danger {
    border-color: #f44336;
    background-color: transparent;
    color: #f44336;
}
.btn-outline-danger:hover{
    border-color: #f44336;
    background-color: #f44336;
    color: #FFFFFF;
}
.btn-danger {
    background-color: #f44336;
    color: #FFFFFF;
}

.capital{text-transform: capitalize;}

.navigation{
    margin-top: 30px !important;
}
thead.bg-danger,thead.bg-danger.bg-darken-2{
    background-color: #f94336 !important;
}

/*this is for large screens*/
.content-body{
    /*max-width: 1200px;*/
    max-width: 1600px;
    margin: 0 auto;
}
.preview-div{
    /* background-attachment: inherit; */
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 600px;
    font-family: Open Sans;
}
.preview-div .preview-tab .bg-image-div{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%;
    width: 100%;
}
.preview-div .preview-tab .bg-image-inner{
    background-color: rgba(255,255,255,0.7);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.preview-div .preview-tab {
    border: 1px solid black;
    height: 455px;
    width: 265px;
    margin: 50px auto 0 auto;
    background: #E5E5E5;
    position: relative;
    scrollbar-width: none;
}
.preview-tab .slider-div {
    position: relative;
    margin: 14px 6px;
    height: 390px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.preview-tab .slider-div .slider-img img {
    max-width: 100%;
    height: 232px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.preview-tab .slider-div .slider-img {
   position: relative;
}
.preview-tab .slider-div .slider-img .overley-div,.preview-tab .detail-div .detail-img .overley-div,
.preview-tab .homepage-div .homepage-img .overley-div{
    position: absolute;
    left: 0;
    bottom: 0;
    background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(#ffffff));
    background: linear-gradient(180deg,transparent,#ffffff);
    width: 100%;
    padding: 25px 10px;
}
.preview-tab .slider-div .slider-img .detail-btn {
    position: absolute;
    right: 8px;
    color: #231F20;
    top: 8px;
    height: 22px;
    width: 22px;
    text-align: center;
    background: white;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 700;
    padding: 1px;
    line-height: 20px;
}
.preview-tab .content-div {
    padding:12px 9px 9px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: white;
}
.preview-tab .content-div h5{
    font-size: 16px;
    font-weight: 700;
    color: #231F20;
    font-family:  'Open Sans', sans-serif;
}
.preview-tab .content-div h6{
    font-size: 13px;
    color: #231F20;
    font-family:  'Open Sans', sans-serif;
}
.preview-tab .content-div h4{
    font-size: 14px;
    color: #231F20;
    font-weight: 700;
    font-family:  'Open Sans', sans-serif;
}
.preview-tab .content-div h3{
    font-size: 18px;
    color: black;
}
.preview-tab .content-div ul{
    padding: 0;
    font-size: 12px;
}
.preview-tab .content-div p{
    font-size: 12px;
    color: #231F20;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    margin: 0;
}
.preview-tab .content-div p span{
    color: #B60E0D;
}
.preview-tab .content-div li:before{
    content: "\f02e";
    font-family: FontAwesome;
    line-height: 1;
    margin-right: 5px;
}
.preview-tab .content-div .progress{
    border-radius: 0;
    height: 6px;
    margin-bottom: 0;
    background-color: #d6d4d4;
}
.preview-tab .content-div .progress-bar{
    background-color: #B60E0D;
    border-radius: 6px;
}
.preview-tab .content-div .btn-danger{
    background-color: #B60E0D;
}
.preview-tab .slider-div .btn-div{
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -20px;
}
.preview-div .bottom-btn{
    background-color: #ffffff;
    height: 35px;
    width: 100%;
    box-shadow: 0 -3px 3px rgba(0, 0, 0,0.09)
}
.preview-div .bottom-btn a{
    color: #231F20;
    font-size: 23px;
}
.preview-div .bottom-btn a:hover, .preview-div .bottom-btn a.active {
    color: #B60E0D;
}
/*detail div*/
.preview-tab .detail-div {
    position: relative;
    min-height: 418px;
    background: #E5E5E5;
}
.preview-tab .btn-back{
    line-height: 29px;
    height: 25px;
    width: 25px;
    background: rgba(255,255,255,0.5);
    color: #6b6b69;
    border-radius: 60px;
    position: absolute;
    top: 7px;
    z-index: 1;
    left: 7px;
    font-size: 17px;
    text-align: center;
    display: block;
    box-shadow: 0px 0px 6px rgba(128, 128, 128, 0.7);
}
.preview-tab .detail-div .detail-img {
    position: relative;
}
.preview-tab .detail-div .detail-img img {
    max-width: 100%;
    height: 175px;
    object-fit: fill;
}
.preview-tab .map-div img{
    width: 100%;
    object-fit: cover;
    height: 255px;
}
.overflow-x-hidden{
    overflow-x: hidden;
}
.preview-tab::-webkit-scrollbar {
    width: 0px;
    display: none;
}

/* Track */
.preview-tab::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.preview-tab::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.47);
    border-radius: 6px;
}

/* Handle on hover */
.preview-tab::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 136, 136, 0.7);
}
.preview-div .donation-slider{
    margin: 50px 20px;
}
.preview-div .donation-slider .slide-dot{
    text-align: center;
    margin-top: 10px;
    font-size: 9px;
    color: white;
}
.preview-div .donation-slider .slide-dot i{
    margin: 0 3px;
    filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.23));
}
.preview-div .donation-slider .slide-dot i.active{
   color: #800000;
}
.preview-div .donation-slide{
    background: white;
    padding: 20px 16px;
    text-align: center;
    width: 175px;
    margin: 0 auto;
    border-radius: 10px;
    /*width: 100%;*/
}
.preview-div .donation-slide .slide-icon{
    font-size: 30px;
    margin-bottom: 15px;
    display: block;
    color: #B60E0D;
}
.preview-div .donation-slide h6{
    margin-bottom: 15px;
}
.preview-tab .homepage-div .homepage-img{
    position: relative;
}
.preview-tab .homepage-div .homepage-img img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    width: 100%;
}
.preview-tab .campaign-logo{
    max-width: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.preview-tab .collecting-fund{
    text-align: center;
    background: #f0f0f0;
    width: 220px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 35px;
    right: 11px;
}
.preview-tab .collecting-fund h3{
    font-size: 16px;
    color: #5B5B5B;
    font-weight: 300;
}
.preview-tab .collecting-fund h2{
    font-size: 20px;
    color: #B60E0D;
    font-weight: 700;
}
.preview-tab .slider-div .slider-nav{
    position: absolute;
    bottom: 11px;
    width: 100%;
    text-align: center;
}
.preview-tab .slider-div .slider-nav p{
    font-size: 12px;
    margin: 0;
    color: #5B5B5B;
}
.has-icon-left .form-control-position.password-eye {
    right: 3px;
    left: auto;
    top: -2px;
}
.has-icon-left .form-control-position.password-eye span {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.table-responsive .container-fluid{
    padding: 0;
}

/*============================================*/
/*============= UI Style =====================*/
/*++++++++++++++++++++++++++++++++++++++++++++*/

.main-menu.menu-light .navigation > li.open > a,
.main-menu.menu-light .navigation > li.hover > a,
.main-menu.menu-light .navigation > li.active > a,
.main-menu.menu-light .navigation > li:hover > a,
.main-menu.menu-light .navigation li a,
.main-menu.menu-light .navigation > li ul .active > a
{
    color: #514a9d;
}
.main-menu.menu-light .navigation > li.open .hover > a:before,
.main-menu.menu-light .navigation > li ul .active > a:before{
    background-color: #514a9d;
    border-color: #514a9d;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-light .navigation .hover>a>i, body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-light .navigation .open>a>i, body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-light .navigation:hover>a>i{
    -webkit-box-shadow: 0 0 20px rgba(78, 72, 152,.3);
    box-shadow: 0 0 20px rgba(78, 72, 152,0.3);
}
.vertical-overlay-menu .main-menu{
    left: -260px;
    width: 334px;
}
[class*=" ft-"], [class^=ft-]{
    font-size: 12px;
}

@media (min-width: 768px){
    .mt-md-20{
        margin-top: 27px !important;
    }
}
@media (max-width: 420px){
    /*Profile Page Responsivness for Small Screen*/
    #user-profile .media.d-flex{
        display: block !important;
        text-align: center;
    }
    #user-profile .media-body{
        text-align: center !important;
    }
}

.tagging .type-zone{
    margin: 5px 10px 0 0;
}

.hide-element{
    display: none;
}
